<p id="notice"><%= notice %></p>
  
  <%@articles.each do |article| %>
 
  <strong> Title: </strong><%=article.title%>  
  <br>
  <strong> content: </strong><%=article.content%> 
  <br>
  <strong> created_by: </strong><%=article.user.email%> 
  <br>
  <%if !article.likers.include? @current_user%>
  <strong><%= link_to 'Add to favourites', favourites_article_path(article) ,method: :put%> </strong>
  <%else%>
  <strong><%= link_to 'Remove from favourites', favourites_article_path(article),method: :delete, data: { confirm: 'Are you sure to remove it from favourite?' }%></strong>
  <%end%> 
  <br>
  <strong>Favourite Count : </strong><%=article.count %>
  <hr> 
  <%end%>
