<p id="notice"><%= notice %></p>
  
  <%@followees.each do |followee| %>
  <%followee.articles.each do |article| %>
  <strong> Title: </strong><%=article.title%>  
  <br>
  <strong> content: </strong><%=article.content%> 
  <br>
  <strong> created_by: </strong><%=article.user.email%> 
  <br>
  <%if !article.likers.include? @current_user%>
  <strong><%= link_to 'Add to favourites', add_favourite_article_path(article) %> </strong>
  <%else%>
  <strong><%= link_to 'Remove from favourites', remove_favourite_article_path(article) %></strong>
  <%end%> 
  <br>
  <strong>Favourite Count : </strong><%=article.count %>
  <hr> 
  <%end%>
  <%end%>